



:root { /* overriding specificity on html */

    font-size: 16px; /* Good rule of thumb for font size */
    font-weight: normal;
    font-family: Cambria, Georgia, 'Montserrat', 'Times New Roman', 'Open Sans', sans-serif, serif;

}


#pageContainer {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100vw;
    min-width: 320px;

}